<%= form_for :session, url: sessions_path, html: { role: 'form' } do |f| %>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>  
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <%= f.submit 'Sign in', class: 'btn btn-primary' %>  
<% end %>
