<% content_for :title, @user.name %>

<div class="user">
  <div class="row">
    <div class="col-lg-4">
      <div class="sidebar">
        <div class="pull-left">
          <%= gravatar_for @user %>  
          <div class="clearfix">
        </div>
        </div>
        <div class="info">
          <h1><%= @user.name %></h1>
          <p><%= @user.email %></p>
        </div>  
      </div>
    </div>
    <div class="col-lg-8">
      <h1>Test</h1>
    </div>  
  </div>
</div>
  
