<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <p>The form contains <%= pluralize(@user.errors.count, 'error') %>.</p>
    </div>
    <ul class="list-group">
      <% @user.errors.full_messages.each do |msg| %>
        <li class="list-group-item list-group-item-warning"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
