body
  background-color: #ECF0F1

.main
  margin-top: 20px
  min-height: 600px

.navbar
  margin-bottom: 0

.jumbotron
  padding-top: 0
  margin-left: -50px

.field_with_errors
  @extend .has-error

#debug
  position: absolute
  display: block
  margin-top: 30px
  width: 100%
