<ul class="nav navbar-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Help', help_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
  <li><%= link_to 'About', about_path %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'Sign in', signin_path %></li>
</ul>
