<ul class="nav navbar-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to 'Profile', current_user %></li>
  <li><%= link_to 'Settings', '#' %></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
</ul>
