<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/topbar' %>

<div class="container">
  <div class="main">
    <%= render 'shared/notifications' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>

<%= render 'shared/debug' if Rails.env.development? %>

</body>
</html>
